.header {
  &__text {
    position: relative;
    width: 60%;
    height: 100vh;
    float: left;
  }

  &__heading {
    background-image: linear-gradient(to right, #fdfc47, #24fe41);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-family: "Tribeca";
    line-height: 8rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 6rem;
  }

  &__span {
    background-image: linear-gradient(to right, #fdfc47, #24fe41);
    -webkit-background-clip: text;
    background-clip: text;
    backface-visibility: hidden;
    display: inline-block;

    &--main {
      background-image: inherit;
      -webkit-background-clip: inherit;
      background-clip: inherit;
      backface-visibility: hidden;
      display: inline-block;
      animation: moveFromRight 2s ease-out;
    }
    &--sub {
      background-image: inherit;
      -webkit-background-clip: inherit;
      background-clip: inherit;
      backface-visibility: hidden;
      display: inline-block;
      font-family: "Ubuntu";
      animation: moveFromLeft 2s ease-out;
    }
  }

  &__logo {
    display: inline-block;
    height: 100vh;
    width: 40%;
    float: left;
    position: relative;
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__path {
    stroke-dasharray: 2000;
    animation: nomeh 10s linear alternate infinite;
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes nomeh {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
