.header {
  &__text {
    position: relative;
    width: 60%;
    height: 100vh;
    float: left;
  }

  &__heading {
    background-image: linear-gradient(to right, #fdfc47, #24fe41);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 6rem;
    font-family: "Tribeca";
    line-height: 8rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 6rem;
  }

  &__span {
    background-image: linear-gradient(to right, #fdfc47, #24fe41);
    -webkit-background-clip: text;
    background-clip: text;
    backface-visibility: hidden;
    display: inline-block;

    &--main {
      background-image: inherit;
      -webkit-background-clip: inherit;
      background-clip: inherit;
      backface-visibility: hidden;
      display: inline-block;
      animation: moveFromRight 2s ease-out;
    }
    &--sub {
      background-image: inherit;
      -webkit-background-clip: inherit;
      background-clip: inherit;
      backface-visibility: hidden;
      display: inline-block;
      font-family: "Ubuntu";
      animation: moveFromLeft 2s ease-out;
    }
  }

  &__logo {
    display: inline-block;
    height: 100vh;
    width: 40%;
    float: left;
    position: relative;
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear forwards 2s;
}

.ct-btn-scroll {
  opacity: 0;
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  animation: arrow 1s ease-in forwards 7s;
  backface-visibility: hidden;
}

.arrow-down {
  transition: ease-in 0.2s;
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.2) translateY(-2px);
  }
  &:active {
    transform: scale(1.2) translateY(1px);
  }
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes draw {
  0% {
    fill: transparent;
    stroke: black;
    stroke-width: 8;
  }
  80% {
    stroke-dashoffset: 0;
    fill: white;
    stroke: black;
    stroke-width: 3;
  }
  100% {
    stroke-dashoffset: 0;
    fill: url(#solids);
    stroke: black;
    stroke-width: 3;
  }
}

@keyframes arrow {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
