*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

/*
Fonts:
font-family: "Lato", sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Holtwood One SC', serif;
font-family: 'Bungee Inline', cursive;

*/
@font-face {
  font-family: "AfricanCulture";
  src: local("AfricanCulture"), url(./fonts/african-culture-font/AfricanCulture-J17a.ttf) format("truetype"); }

@font-face {
  font-family: "Afrika";
  src: local("Afrika"), url(./fonts/afrika-safari-rebuild-st-font/AfrikaSafariRebuildSt-2lzw.ttf) format("truetype"); }

@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(./fonts/afrika-t-ubuntu-font/AfrikaTUbuntu-nAOV.ttf) format("truetype"); }

@font-face {
  font-family: "Wildlife";
  src: local("Wildlife"), url(./fonts/afrika-wildlife-b-mammals2-font/AfrikaWildlifeBMammals2-9MJj.ttf) format("truetype"); }

@font-face {
  font-family: "Egyptian";
  src: local("Egyptian"), url(./fonts/egyptian-nights-font/EgyptianNights-yAOV.ttf) format("truetype"); }

@font-face {
  font-family: "Tajamuka";
  src: local("Tajamuka"), url(./fonts/tajamuka-script-font/TajamukaScript-ByW5.ttf) format("truetype"); }

@font-face {
  font-family: "Tribeca";
  src: local("Tribeca"), url(./fonts/tribeca-font/TribecaRegular-d9P6.ttf) format("truetype"); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 15rem; }
  .card__side {
    height: 40rem;
    width: 100%;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 0.8s ease; }
    .card__side--front {
      background-image: linear-gradient(to bottom right, #ece9e6, #ffffff); }
    .card__side--back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to bottom right, #f27358, #ec2028); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkitclip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); }
    .card__picture--1 {
      background-image: url("./images/zamalek33.jpg"); }
    .card__picture--2 {
      background-image: url("./images/ahly3.jpg"); }
    .card__picture--3 {
      background-image: url("./images/d2.jpg"); }
    .card__picture--4 {
      background-image: url("./images/ahly4.jpg"); }
    .card__picture--5 {
      background-image: url("./images/zamalek1.jpg"); }
    .card__picture--6 {
      background-image: url("./images/ahly5.jpg"); }
  .card__heading {
    margin-top: 2rem;
    padding: 2rem;
    font-size: 2.1rem;
    text-transform: uppercase;
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Alfa Slab One", cursive;
    color: #333333; }

.header__text {
  position: relative;
  width: 60%;
  height: 100vh;
  float: left; }

.header__heading {
  background-image: linear-gradient(to right, #fdfc47, #24fe41);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 6rem;
  font-family: "Tribeca";
  line-height: 8rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 6rem; }

.header__span {
  background-image: linear-gradient(to right, #fdfc47, #24fe41);
  -webkit-background-clip: text;
  background-clip: text;
  backface-visibility: hidden;
  display: inline-block; }
  .header__span--main {
    background-image: inherit;
    -webkit-background-clip: inherit;
    background-clip: inherit;
    backface-visibility: hidden;
    display: inline-block;
    animation: moveFromRight 2s ease-out; }
  .header__span--sub {
    background-image: inherit;
    -webkit-background-clip: inherit;
    background-clip: inherit;
    backface-visibility: hidden;
    display: inline-block;
    font-family: "Ubuntu";
    animation: moveFromLeft 2s ease-out; }

.header__logo {
  display: inline-block;
  height: 100vh;
  width: 40%;
  float: left;
  position: relative; }

.header__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear forwards 2s; }

.ct-btn-scroll {
  opacity: 0;
  visibility: hidden;
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  animation: arrow 1s ease-in forwards 7s;
  backface-visibility: hidden; }

.arrow-down {
  transition: ease-in 0.2s;
  backface-visibility: hidden; }
  .arrow-down:hover {
    transform: scale(1.2) translateY(-2px); }
  .arrow-down:active {
    transform: scale(1.2) translateY(1px); }

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes draw {
  0% {
    fill: transparent;
    stroke: black;
    stroke-width: 8; }
  80% {
    stroke-dashoffset: 0;
    fill: white;
    stroke: black;
    stroke-width: 3; }
  100% {
    stroke-dashoffset: 0;
    fill: url(#solids);
    stroke: black;
    stroke-width: 3; } }

@keyframes arrow {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; } }

.container {
  display: flex;
  padding: 6rem;
  text-align: center; }

.column {
  flex: 1;
  box-sizing: border-box; }

.column-one {
  order: 1;
  margin-right: 6rem; }

.column-two {
  order: 2;
  margin-right: 6rem; }

.column-three {
  order: 3; }

.column-four {
  order: 4; }

.column-five {
  order: 5; }

.section-header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(35, 37, 38, 0.5), rgba(65, 67, 69, 0.5)), url("./images/img-2.jpg");
  background-size: cover;
  position: relative; }

.section-ns {
  height: 100vh;
  width: 100%;
  background-color: #232526; }

.ns__heading {
  padding: 6rem;
  width: 100%;
  background-image: linear-gradient(to right, #fdfc47, #24fe41);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 8rem;
  font-family: "Alfa Slab One", cursive;
  line-height: 8rem;
  text-transform: uppercase; }

.ns__text {
  text-align: center; }

.zamalek {
  color: white; }

.ahly {
  color: red; }

.section-knockout {
  height: 100vh;
  width: 100%;
  background-image: url("./images/ali5.jpg");
  background-size: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.knockout-animated {
  animation: backgroundGradient 2s ease-out forwards; }

.knockout__heading {
  padding: 6rem;
  width: 100%;
  background-image: linear-gradient(to right, #fdfc47, #24fe41);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 5rem;
  font-family: "Alfa Slab One", cursive;
  line-height: 2rem;
  text-transform: uppercase;
  position: relative; }

.knockout__text {
  text-align: center; }

.knockout__body {
  opacity: 0;
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: "Alfa Slab One", cursive;
  backface-visibility: hidden; }

.knockout__body-animated {
  animation: moveFromBottom 0.5s ease-out forwards 1.5s; }

.knockout__main {
  text-align: center; }
  .knockout__main--top {
    display: inline-block; }
  .knockout__main--bottom {
    display: inline-block; }

@keyframes moveFromBottom {
  from {
    opacity: 0;
    transform: translate(-50%, -40%); }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); } }

@keyframes backgroundGradient {
  from {
    background-image: url("./images/ali5.jpg"); }
  to {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/ali5.jpg"); } }
